github "Mantle/Mantle" "2.1.0"
github "SRGSSR/FXReachability" "1.3.2_srg4"
github "SRGSSR/srgappearance-apple" "2.0.0"
github "SRGSSR/srgnetwork-apple" "2.0.1"
github "SRGSSR/UICKeyChainStore" "v2.1.2_srg1"