github "Mantle/Mantle" "2.1.0"
github "SRGSSR/FXReachability" "1.3.2_srg3"
github "SRGSSR/Masonry" "35eda7638ebf1395fe1157575e1d217be0e2626b"
github "SRGSSR/srgnetwork-ios" "1.0.3"
github "SRGSSR/UICKeyChainStore" "19f173ccf496194350236ee263749e1eee3f37bb"